header.headerBlog {
    background-image: url(../assets/blogHeader.jpg);
    background-size: cover;
    height: 80vh;
    h1 {
        font-size: 6rem;
        margin-top: 8%;
    }
}

.blogMain {
    background-color: $bgColor;
    @include flexContainer(row, center, flex-start);
}

.pageLeft {
    width: 25%;
    margin: 90px 80px 0 80px;
    padding: 0 10px 20px;
    background-color: white;
    h2 {
        font-size: 1.2rem;
        margin: 20px 0;
    }
    p {
        padding-right: 15px;
    }
}

.aboutPic {
    margin-left: -90px;
    transform: translate(-10px, -20px);
}

.recentPosts ul li {
    list-style-type: disc;
    color: $fillColor;
    margin-left: 20px;
    a {
        color: $black;
    }
}

.pageRight {
    width: calc(75% - 160px);
    margin-top: -200px;
    .blogPic {
        @include boxShadow(-35px, 40px);
        }
    .blogPost {
        border-left: 5px solid $shadowColor;
        border-bottom: 5px solid $shadowColor;
        padding-left: 35px;
        margin-right: 60px;
        margin-left: -35px;
        h2 {
        padding-top: 60px;
        }
        p:first-of-type {
            padding-bottom: 40px;
        }
        p:last-of-type {
            padding-bottom: 10px;
        }
    }
}

.blogPost,
.blogComments,
.blogForm {
    margin-right: 8%;
}

.blogComments h3 {
    margin: 40px 0;
}

.comment {
    display: flex;
    align-items: flex-start;
    margin-bottom: 7.5%;
    .commentPic {
        width: 12.5%;
    }
    .commentContent {
        width: 87.5%;
        margin: 0 40px;
        p:first-child {
            margin-bottom: 15px;
            line-height: 1rem;
        }
    }
}

.blogForm form {
    padding: 0;
}

.blogForm input,
.blogForm textarea {
    background-color: $bgColor;
}

.blogForm div {
    @include flexContainer(row, space-between, center);
}

footer.blog {
    height: 30px;
    background-color: $black;
}