header.headerBlog {
    background-image: url(../assets/blogHeader.jpg);
    background-size: cover;
    height: 80vh;
    h1 {
        font-size: 6rem;
        margin-top: 8%;
    }
}

.blogMain {
    background-color: $bgColor;
    @include flexContainer(row, center, flex-start);
}

.pageLeft {
    width: 30%;
    margin: 120px 160px 0 0;
}

.pageRight {
    width: calc(70% - 160px);
    @include position(relative, null, null, 200px, null);
    .blogPost {
        border-left: 5px solid $shadowColor;
        border-bottom: 5px solid $shadowColor;
        padding-left: 35px;
        margin-right: 60px;
        h2 {
        padding-top: 60px;
        }
    }
}

.blogPic {
        @include boxShadow(-35px, 40px);
        // position: relative;
}

.comment {
    @include flexContainer(column, center, null);
    .commentPic {
        width: 20%;
    }
    .commentContent {
        width: 70%;
    }
}

footer.blog {
    height: 30px;
    background-color: $black;
}