button {
    font-family: "Playfair Display";
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    background-color: #4CEEA7;
    color: black;
    border: none;
    padding: 12px 18px;
    display: block;
}