header.headerContact {
    background-image: url(../assets/contactHeader.jpg);
    background-size: cover;
    background-position: 27.5%;
    height: 75vh;
    h1 {
        font-size: 3.8rem;
        margin-top: 8%;
    }
}

.mainContact {
    @include flexContainer(row, center, center);
    background-color: $bgColor;
}

.contactInfo {
    margin: 8% 60px 8% 0;
    p:first-of-type {
        @include fontSize(1rem);
        padding-bottom: 15px;
    }
    .mailInfo li {
        font-family: "Roboto";
        font-size: 1rem;
        line-height: 1.6rem;
        color: $black;
    }
}

.contactInfo .webInfo ul {
    @include flexContainer(row, flex-start, center);
    li {
        margin: 0 20px 10px 0;
        padding-bottom: 5px;
        a {
            color: $black;
        }     
        &:hover,
        &:focus {
            border-bottom: 3px solid $fillColor;
            margin-bottom: 7px;
        }
    }
}

.contactForm {
    width: 60%;
    background-color: white;
    margin-left: 35px;
    transform: translate(0, -200px);
    @include boxShadow(-35px, 40px);
    div {
        @include flexContainer(row, space-between, center);
    }
}

// MEDIA QUERIES

@media (max-width: 1400px) {
    header.headerContact h1 {
        font-size: 3.2rem;
        margin-left: 10%;
    }
}

@media (max-width: 1200px) {
    .mainContact {
        @include flexContainer (column-reverse, center, center);
        .contactInfo {
            width: 60%;
            margin: -60px 0 3%;
            @include flexContainer(row, space-between, center);
        }
        .contactForm {
            width: 80%;
            margin: 0;
            transform: translate(0, -140px);
        }
    }
}

@media (max-width: 1040px) {
    header.headerContact h1 {
        font-size: 2.8rem;
        margin: 12% 0 0 20%;
    }
}

@media (max-width: 845px) {
    .mainContact .contactInfo {
        @include flexContainer(column, center, center);
        width: 100%;
        text-align: center;
        .webInfo ul {
            justify-content: space-around;
            li {
                margin: 0;
            }
        }
    }

    .mainContact .contactForm {
        width: 90%;
        @include boxShadow(-15px, 15px);
    }
}

@media (max-width: 650px) {
        header.headerContact h1 {
        font-size: 2.5rem;
        margin: 12% 0 0 30%;
    }

    .mainContact .contactForm {
        width: 100%;
        box-shadow: none;
        transform: translate(0, -60px);
        border: 5px solid $shadowColor;
        form {
            padding: 20px;
        }
        div {
            @include flexContainer(column, center, center);
        }
        input[type=text],
        input[type=email] {
            width: 100%;
            margin: 0 0 20px;
        }
    }
    
    .mainContact .contactInfo {
        margin-top: -20px;
    }
}