header.headerContact {
    background-image: url(../assets/contactHeader.jpg);
    background-size: cover;
    height: 75vh;
    h1 {
        font-size: 3.8rem;
        margin-top: 8%;
    }
}

.mainContact {
    @include flexContainer(row, center, center);
    background-color: $bgColor;
}

.contactInfo {
    margin: 8% 60px 8% 0;
    p:first-of-type {
        @include fontSize(1rem);
        padding-bottom: 15px;
    }
}

.contactInfo ul {
    @include flexContainer(row, flex-start, center);
    li {
        margin: 0 20px 10px 0;
        padding-bottom: 5px;
        a {
            color: $black;
        }     
        &:hover,
        &:focus {
            border-bottom: 3px solid $fillColor;
            margin-bottom: 7px;
        }
    }
}

.contactForm {
    width: 800px;
    background-color: white;
    margin-left: 35px;
    transform: translate(0, -200px);
    @include boxShadow(-35px, 40px);
    div {
        @include flexContainer(row, space-between, center);
    }
}