html {
	font-size: 125%;
	font-family: "sans-serif";
}

h1,
h2,
h3,
h4,
p, 
ul,
li,
a,
img {
	margin: 0;
	padding: 0;
}

img {
    display: block;
    max-width: 100%;
    width: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
    max-width: 1600px;
}

// VARIABLES

$bgColor: #EFFDF3;
$fillColor: #4CEEA7;
$shadowColor: #FDFA69;
$black: #2C2C2C;