nav {
    @include flexContainer(row, flex-end, center)
}

nav ul {
    display: flex;
    margin-top: 20px;
    a {
        @include fontSize(1rem);
        margin-left: 40px;
        padding: 0 5px 10px 5px;
    }
    a:hover,
    a:focus {
        border-bottom: 3px solid $fillColor;
    }
}

// MEDIA QUERIES FOR NAV BAR

@media (max-width: 1040px) {
    nav ul a {
        margin-left: 20px;
    }
}

@media (max-width: 845px) {
    nav ul {
        @include flexContainer(column, flex-start, flex-start);
        @include position(absolute, 0, 0, null, null);
        background-color: rgba(253, 250, 105, 0.85);
        padding: 10px;
        margin: 0;
        li {
            margin-bottom: 5px;
        }
        a {
            margin: 0;
            padding: 0 0 3px 0;
        }
    }
}

@media (max-width: 650px) {
    nav ul {
        @include position(absolute, 0, null, null, 0);
        width: 120px;
    }
}