nav {
    @include flexContainer(row, flex-end, center)
}

nav ul {
    display: flex;
    margin-top: 20px;
    a {
        @include fontSize(1rem);
        margin-left: 40px;
        padding: 0 5px 10px 5px;
    }
    a:hover,
    a:focus {
        border-bottom: 3px solid $fillColor;
    }
}

// MEDIA QUERIES FOR NAV BAR

@media (max-width: 1200px) {
    nav ul {
        @include flexContainer(column, flex-start, flex-start);
        li {
            margin: 0 0 10px;
        }
    }
}