@import "partials/setup";
@import "partials/generalStyles";
@import "partials/mixins";
@import "partials/nav";
@import "partials/button";
@import "partials/form";
@import "partials/blogStyles";
@import "partials/contactStyles";

h1 {
    @include fontSize(6.9rem);
    text-align: center;
}

h2 {
    @include fontSize(2.1rem);
}

h3,
.links a {
    @include fontSize(1.6rem);
}

p,
.pageLeft li,
input[type=text],
input[type=email],
textarea {
    font-family: "Roboto";
    font-size: 1rem;
    line-height: 1.6rem;
    color: $black;
}

header.headerHome {
    background-image: url(../assets/headerImage.jpg);
    background-size: cover;
    height: 100vh;
    position: relative;
    h1 {
        @include position(absolute, 70%, 0, 0, 0);
        z-index: 10;
    }
    .boxImage {
        width: 42.5%;
        @include position(relative, 27.5%, 0, null, 57.5%);
        border-top: 30px solid $shadowColor;
        border-bottom: 30px solid $shadowColor;
        border-left: 30px solid $shadowColor;
    }
}

.about {
    background: $bgColor;
    display: flex;
    align-items: center;
}

.aboutContent {
    @include flexContainer(column, center, center);
    margin: 17.5% auto;
    p {
        padding: 30px 0;
    }
}

.skills,
.newGear {
    display: flex;
}

.newGear {
    flex-direction: row-reverse;
}

.skillsLeft,
.skillsRight,
.newGearLeft,
.newGearRight {
    width: 50%;
}

.skillsLeft div,
.newGearRight div {
    width: 90%;
}

.skillsRight,
.newGearLeft {
    @include flexContainer(column, center, center);
}

.skillsContent,
.newGearContent {
    width: 70%;
    max-width: 500px;
    h3,
    p, 
    button {
        margin-bottom: 30px;
    }
}

.skillsContent {
    margin-right: 10%;
}

.newGearContent {
    margin-left: 10%;
}

.newGearContent div {
    @include flexContainer(row, flex-end, center);
}

.skillsLeft div {
    @include boxShadow(35px, 40px);
    transform: translateY(-40px);
}

.newGearRight {
    @include flexContainer(row, flex-end, center);
}

.newGearRight div {
    @include boxShadow(-35px, 40px);
    transform: translateY(40px);
}

.links {
    background: $bgColor;
    padding: 70px 0 40px;
    ul div {
        margin-right: 10px;
    }
}

.links ul {
    display: flex;
    flex-wrap: wrap;
        li {
            display: flex;
            width: calc(50% - 20px);
            margin: 35px 10px;
                span {
                    display: flex;
                    justify-content: center;
                }
        }
}

.links p {
    margin-top: 10px;
}

.links a:hover,
.links a:focus {
    border-bottom: 3px solid $fillColor;
}

.iconBackground {
    color: $fillColor;
}

.backgroundImage {
    background-image: url(../assets/banner.jpg);
    background-size: cover;
    background-position: center;
    height: 70vh;
}

.profile {
    background: $bgColor;
    padding: 5% 0;
    p {
        padding: 20px 0 40px;
    }
}

.profile .wrapper,
.profileLeft,
.profileRight {
    @include flexContainer(row, center, center);
}

.profileLeft {
    width: 25%;
    div {
        @include boxShadow(35px, 40px);
    }
}

.profileRight {
    width: 70%;
    padding-left: 10%;
}

.gallery ul {
    @include flexContainer(row, space-between, center);
    padding: 40px 0;
        li {
            width: calc(33% - 20px);
    }
}

footer {
    background: $black;
    p {
        color: white;
        text-align: center;
    }
}

// HOME PAGE MEDIA QUERIES

@media (max-width: 1340px) {
    header.headerHome h1 {
        font-size: 5.5rem;
        @include position(absolute, 70%, 0, null, 0);
    }

    header.headerHome .boxImage {
        width: 37.5%;
        @include position(relative, 40%, 0, null, 62.5%);
    }
}

@media (max-width: 1200px) {
    .wrapper {
        width: 90%;
    }
    
    header.headerHome h1 {
        font-size: 5rem;
        @include position(absolute, 70%, 0, 0, 10%);
        &::after {
            content: "";
            height: 50%;
            width: 65%;
            background-color: rgba(253, 250, 105, 0.85);
            z-index: -1;
            position: absolute;
            left: 5%;
            bottom: 42.5%;
        }
    }

    header.headerHome .boxImage {
        display: none;
    }

    .skillsContent {
        margin-right: 5%;
    }

    .newGearContent {
        margin-left: 5%;
    }

    .backgroundImage {
        height: 50vh;
    }

    .skillsLeft div,
    .newGearRight div {
        width: 100%;
    }

    .skillsLeft div {
        @include boxShadow(15px, 15px);
        transform: translateY(-15px);
    }

    .newGearRight div {
        @include boxShadow(-15px, 15px);
        transform: translateY(15px);
    }
}

@media (max-width: 1040px) {
    .skills,
    .newGear {
        @include flexContainer(column, center, center);
    }

    .skillsLeft,
    .newGearRight {
        width: 80%;
    }

    .skillsRight,
    .newGearLeft {
        width: 95%;
    }

    .skillsContent,
    .newGearContent {
        margin: 5% 0;
        text-align: center;
        button {
            margin: 0;
        }
    }

    .newGearRight div {
        @include boxShadow(-15px, 15px);
        transform: none;
    }

    .newGearContent div,
    .skillsContent div {
        @include flexContainer(row, center, center);
    }
}

@media (max-width: 845px) {

    header.headerHome h1 {
        font-size: 4rem;
        @include position(absolute, 70%, 0, 0, 10%);
        &::after {
            height: 40%;
            left: 0;
            bottom: 57%;
        }
    }

    .backgroundImage {
        height: 50vh;
    }

    .links {
        padding: 20px 0;    
        ul {
            @include flexContainer(column, flex-start, center);
            li {
                display: flex;
                width: 100%;
            }
        }
    }

    .profile .wrapper {
        @include flexContainer(column, center, center);
        .profileLeft {
            width: 100%;    
        }
        .profileRight {
            width: 100%;
            padding: 0;
            margin-top: 7.5%;
            h2 {
                text-align: center;
            }
        }
        .center {
            @include flexContainer(row, center, center);
        }
    }

    .gallery ul li {
        width: calc(50% - 10px);
    }

    .gallery ul li:nth-child(3) {
        display: none;
    }
}

@media (max-width: 650px) {
    .gallery ul {
        @include flexContainer(column, space-between, center);
        padding: 0 0 20px 0;
        li {
            width: 100%;
            margin: 20px 20px 0 20px;
        }
    }
    
    .gallery ul li:nth-child(3) {
        display: block;
    }
}

@media (max-width: 480px) {
    header.headerHome h1 {
        font-size: 2.8rem;
        @include position(absolute, 70%, 0, 0, 0);
        &::after {
            height: 35%;
            width: 90%;
            left: 8%;
            bottom: 65%;
        }
    }
}