article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

html {
  font-size: 125%;
  font-family: "serif"; }

h1,
h2,
h3,
h4,
p,
ul,
li,
a,
img {
  margin: 0;
  padding: 0; }

img {
  display: block;
  max-width: 100%;
  width: 100%; }

li {
  list-style: none; }

a {
  text-decoration: none; }

.wrapper {
  width: 80%;
  margin: 0 auto;
  max-width: 1600px; }

header.headerBlog {
  background-image: url(../assets/blogHeader.jpg);
  background-size: cover;
  height: 80vh; }
  header.headerBlog h1 {
    font-size: 6rem;
    margin-top: 8%; }

.blogMain {
  background-color: #EFFDF3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.pageLeft {
  width: 25%;
  margin: 90px 80px 0 80px;
  padding: 0 10px 20px;
  background-color: white; }
  .pageLeft h2 {
    font-size: 1.2rem;
    margin: 20px 0; }
  .pageLeft p {
    padding-right: 15px; }

.aboutPic {
  margin-left: -90px;
  -webkit-transform: translate(-10px, -20px);
  -ms-transform: translate(-10px, -20px);
  transform: translate(-10px, -20px); }

.recentPosts ul li {
  list-style-type: disc;
  color: #4CEEA7;
  margin-left: 10px; }
  .recentPosts ul li a {
    color: #2C2C2C; }

.pageRight {
  width: calc(75% - 160px);
  margin-top: -200px; }
  .pageRight .blogPic {
    -webkit-box-shadow: -35px 40px #FDFA69;
    box-shadow: -35px 40px #FDFA69; }
  .pageRight .blogPost {
    border-left: 5px solid #FDFA69;
    border-bottom: 5px solid #FDFA69;
    padding-left: 35px;
    margin-right: 60px;
    margin-left: -35px; }
    .pageRight .blogPost h2 {
      padding-top: 60px; }
    .pageRight .blogPost p:first-of-type {
      padding-bottom: 40px; }
    .pageRight .blogPost p:last-of-type {
      padding-bottom: 10px; }

.blogPost,
.blogComments,
.blogForm {
  margin-right: 8%; }

.blogComments h3 {
  margin: 40px 0; }

.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 7.5%; }
  .comment .commentPic {
    width: 12.5%; }
  .comment .commentContent {
    width: 87.5%;
    margin: 0 40px; }
    .comment .commentContent p:first-child {
      margin-bottom: 15px;
      line-height: 1rem; }

.blogForm form {
  padding: 0; }

.blogForm input,
.blogForm textarea {
  background-color: #EFFDF3; }

.blogForm div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

footer.blog {
  height: 30px;
  background-color: #2C2C2C; }

header.headerContact {
  background-image: url(../assets/contactHeader.jpg);
  background-size: cover;
  height: 75vh; }
  header.headerContact h1 {
    font-size: 3.8rem;
    margin-top: 8%; }

.mainContact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #EFFDF3; }

.contactInfo {
  margin: 8% 60px 8% 0; }

.socialIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .socialIcons a {
    margin: 0 20px 10px 0;
    padding-bottom: 5px;
    color: #2C2C2C; }
    .socialIcons a:hover, .socialIcons a:focus {
      border-bottom: 3px solid #4CEEA7;
      margin-bottom: 7px; }

.contactInfo p:first-of-type {
  font-size: 1rem;
  font-family: "Playfair Display";
  font-weight: bold;
  font-style: italic;
  color: #2C2C2C;
  text-transform: uppercase;
  padding-bottom: 15px; }

.contactForm {
  width: 800px;
  background-color: white;
  margin-left: 35px;
  -webkit-transform: translate(0, -200px);
  -ms-transform: translate(0, -200px);
  transform: translate(0, -200px);
  -webkit-box-shadow: -35px 40px #FDFA69;
  box-shadow: -35px 40px #FDFA69; }
  .contactForm div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

footer.contact {
  height: 30px;
  background-color: #2C2C2C; }

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px; }
  nav ul a {
    font-size: 20px;
    font-family: "Playfair Display";
    font-weight: bold;
    font-style: italic;
    color: #2C2C2C;
    text-transform: uppercase;
    margin-left: 40px;
    padding: 0 5px 10px 5px; }
  nav ul a:hover,
  nav ul a:focus {
    border-bottom: 3px solid #4CEEA7; }

button,
input[type=submit] {
  font-family: "Playfair Display";
  text-transform: uppercase;
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
  background-color: #4CEEA7;
  color: #2C2C2C;
  border: none;
  padding: 12px 18px;
  display: block; }
  button:hover,
  input[type=submit]:hover {
    background-color: #12c275; }
  button:focus,
  input[type=submit]:focus {
    background-color: #12c275; }

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding: 20px 50px; }

input[type=text],
input[type=email] {
  width: calc(50% - 20px);
  margin: 20px 0 30px;
  padding: 10px 0 10px 10px;
  border: none;
  border-bottom: 3px solid #4CEEA7; }

textarea {
  width: 100%;
  border: 3px solid #4CEEA7;
  padding: 10px 0 10px 10px;
  resize: none; }

input[type=submit] {
  width: 100%;
  margin: 40px 0; }

h1 {
  font-size: 6.9rem;
  font-family: "Playfair Display";
  font-weight: bold;
  font-style: italic;
  color: #2C2C2C;
  text-transform: uppercase;
  text-align: center; }

h2 {
  font-size: 2.1rem;
  font-family: "Playfair Display";
  font-weight: bold;
  font-style: italic;
  color: #2C2C2C;
  text-transform: uppercase; }

h3,
.links a {
  font-size: 1.6rem;
  font-family: "Playfair Display";
  font-weight: bold;
  font-style: italic;
  color: #2C2C2C;
  text-transform: uppercase; }

p,
input[type=text],
input[type=email],
.pageLeft li,
textarea {
  font-family: "Roboto";
  font-size: 1rem;
  line-height: 1.6rem;
  color: #2C2C2C; }

header.headerHome {
  background-image: url(../assets/headerImage.jpg);
  background-size: cover;
  height: 100vh;
  position: relative; }
  header.headerHome h1 {
    position: absolute;
    top: 65%;
    right: 0;
    left: 0;
    z-index: 10; }

.boxImage {
  width: 42.5%;
  position: relative;
  top: 30%;
  right: 0;
  left: 57.5%;
  border-top: 30px solid #FDFA69;
  border-bottom: 30px solid #FDFA69;
  border-left: 30px solid #FDFA69; }

.about {
  background: #EFFDF3;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.aboutContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .aboutContent p {
    padding: 30px 0; }

.skills,
.newGear {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.newGear {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }

.skillsLeft,
.skillsRight,
.newGearLeft,
.newGearRight {
  width: 50%; }

.skillsLeft div,
.newGearRight div {
  width: 90%;
  position: relative; }

.skillsRight,
.newGearLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.skillsContent,
.newGearContent {
  width: 70%; }
  .skillsContent h3,
  .skillsContent p,
  .newGearContent h3,
  .newGearContent p {
    margin-bottom: 30px; }

.skillsContent {
  margin-right: 10%; }

.newGearContent {
  margin-left: 10%; }

.newGearContent div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.skillsLeft div {
  -webkit-box-shadow: 35px 40px #FDFA69;
  box-shadow: 35px 40px #FDFA69;
  bottom: 40px; }

.newGearRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.newGearRight div {
  -webkit-box-shadow: -35px 40px #FDFA69;
  box-shadow: -35px 40px #FDFA69;
  top: 40px; }

.links {
  background: #EFFDF3;
  padding: 70px 0 40px; }
  .links ul div {
    margin-right: 10px; }

.links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .links ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: calc(50% - 20px);
    margin: 35px 10px; }
    .links ul li span {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }

.links p {
  margin-top: 10px; }

.iconBackground {
  color: #4CEEA7; }

.backgroundImage {
  background-image: url(../assets/banner.jpg);
  background-size: cover;
  background-position: center;
  height: 70vh; }

.profile {
  background: #EFFDF3; }
  .profile .wrapper {
    height: 70vh; }
    .profile .wrapper p {
      padding: 20px 0 40px; }

.profile .wrapper,
.profileLeft,
.profileRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.profileLeft {
  width: 25%; }
  .profileLeft div {
    -webkit-box-shadow: 35px 40px #FDFA69;
    box-shadow: 35px 40px #FDFA69; }

.profileRight {
  width: 70%;
  padding-left: 10%; }

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .gallery div {
    width: calc(33% - 20px);
    padding: 40px 0; }

footer {
  background: #2C2C2C; }
  footer p {
    color: white;
    text-align: center; }
