@import "partials/setup";
@import "partials/generalStyles";
@import "partials/mixins";
@import "partials/blogStyles";
@import "partials/contactStyles";
@import "partials/nav";
@import "partials/button";
@import "partials/form";

h1 {
    @include fontSize(6.9rem);
    text-align: center;
}

h2 {
    @include fontSize(2.1rem);
}

h3,
.links a {
    @include fontSize(1.6rem);
}

p,
input[type=text],
input[type=email],
.pageLeft li,
textarea {
    font-family: "Roboto";
    font-size: 1rem;
    line-height: 1.6rem;
    color: $black;
}

header.headerHome {
    background-image: url(../assets/headerImage.jpg);
    background-size: cover;
    height: 100vh;
    position: relative;
    h1 {
        @include position(absolute, 65%, 0, null, 0);
        z-index: 10;
    }
}

.boxImage {
    width: 42.5%;
    @include position(relative, 30%, 0, null, 57.5%);
    border-top: 30px solid $shadowColor;
    border-bottom: 30px solid $shadowColor;
    border-left: 30px solid $shadowColor;
}

.about {
    background: $bgColor;
    height: 100vh;
    display: flex;
    align-items: center;
}

.aboutContent {
    @include flexContainer(column, center, center);
    p {
        padding: 30px 0;
    }
}

.skills,
.newGear {
    display: flex;
}

.newGear {
    flex-direction: row-reverse;
}

.skillsLeft,
.skillsRight,
.newGearLeft,
.newGearRight {
    width: 50%;
}

.skillsLeft div,
.newGearRight div {
    width: 90%;
    position: relative;
}

.skillsRight,
.newGearLeft {
    @include flexContainer(column, center, center);
}

.skillsContent,
.newGearContent {
    width: 70%;
    h3,
    p {
        margin-bottom: 30px;
    }
}

.skillsContent {
    margin-right: 10%;
}

.newGearContent {
    margin-left: 10%;
}

.newGearContent div {
    @include flexContainer(row, flex-end, center);
}

.skillsLeft div {
    @include boxShadow(35px, 40px);
    bottom: 40px;
}

.newGearRight {
    @include flexContainer(row, flex-end, center);
}

.newGearRight div {
    @include boxShadow(-35px, 40px)
    top: 40px;
}

.links {
    background: $bgColor;
    padding: 70px 0 40px;
        ul div {
            margin-right: 10px;
        }
}

.links ul {
    display: flex;
    flex-wrap: wrap;
        li {
            display: flex;
            width: calc(50% - 20px);
            margin: 35px 10px;
                span {
                    display: flex;
                    justify-content: center;
                }
        }
}

.links p {
    margin-top: 10px;
}

.iconBackground {
    color: $fillColor;
}

.backgroundImage {
    background-image: url(../assets/banner.jpg);
    background-size: cover;
    background-position: center;
    height: 70vh;
}

.profile {
    background: $bgColor;
    .wrapper {
        height: 70vh;
        p {
            padding: 20px 0 40px;
        }
    }
}

.profile .wrapper,
.profileLeft,
.profileRight {
    @include flexContainer(row, center, center);
}

.profileLeft {
    width: 25%;
        div {
            @include boxShadow(35px, 40px);
        }
}

.profileRight {
    width: 70%;
    padding-left: 10%;
}

.gallery {
    @include flexContainer(row, space-between, center);
        div {
            width: calc(33% - 20px);
            padding: 40px 0;
    }
}

footer {
    background: $black;
    p {
        color: white;
        text-align: center;
    }
}